<header class="navbar navbar-fixed-top" >
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "twant app", root_path, id: 'logo' %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
					<li><%= link_to "HALP!", halp_path %></li>
					<li><%= link_to "Get some...", getsome_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>